<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard: Smart Controller for Centralized Air-Conditioning</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>       
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <script type="text/javascript" charset="utf-8"></script>
  <style>
body {
    font-family:'Montserrat'; font-size:12px;
}
hr {
  border: 1px solid black;
  
}
hr.new1 {
  border: 1px dotted black;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;}
</style>
</head>

<body>
<div class="container">
  <br>
  <h3>Dashboard: Smart Controller for Centralized Air-Conditioning</h3>
  <!--<div class="btn-group">-->
  <a href="{{ url_for('index') }}" class="btn btn-dark" type="button">Home</a>
  <a href="{{ url_for('set_temp') }}" class="btn btn-success" type="button">Set Your Room's Temperature</a>
  <a href="{{ url_for('set_comfort') }}" class="btn btn-danger" type="button">Set Your Comfort Level</a>
  <a href="{{ url_for('check_data') }}" class="btn btn-primary" type="button">Check Your Environment's Data</a>
  <a href="{{ url_for('ahu_and_chiller') }}" class="btn btn-dark" type="button">AHU and Chiller</a>
  <!--</div>-->
  <hr>
  <br>
  <h3>Building Data</h3>
<br>

<br>

<table class="table table-striped">
    <thead>
      
      <tr>
      	
        <th>Bldg Name</th>
        <th>Bldg Addr</th>
        <th>LON</th>
        <th>LAT</th>
        <th>Bldg Type</th>

        <th>Bldg Size</th>
        <th>Public Sector</th>
        <th>Year Obtained</th>
        <th>Bldg Age</th>
        <th>GM Award Year</th>

        <th>GM Rating</th>
        <th>GM Status</th>
        <th>Gross Floor Area</th>
        <th>Percent of Aircon Area</th>
        <th>Mthly Occupancy Rate</th>

        <th>No. of Hotel Rooms</th>
        <th>Aircon System Type</th>
        <th>Age of Newest Chiller or Aircon</th>
        <th>Aircon System Efficiency</th>
        <th>Year of Last Audit</th>

        <th>Percent Usage of LED</th>
        <th>Installation of Solar PV</th>
        <th>EUI Performance Compared to Previous Year</th>
        <th>Benchmarking EUI Quartile</th>
        <th>Voluntary Disclosure</th>

        <th>Postal Code</th>
        <th>LED Usage Category</th>
        <th>EUI 2015</th>
        <th>EUI 2016</th>
        <th>EUI 2017</th>
       
      </tr>
     
    </thead>
    <tbody>
      {% for rowset in results %}
      <tr>
      	{% for col in rowset %}
        <td>{{col}}</td>
        {% endfor %}
      </tr>
     {% endfor %}
    </tbody>
  </table>

  <!-- <form>
<button type="button" class="btn btn-danger">Hot</button>
<button type="button" class="btn btn-secondary">Warm</button>
<button type="button" class="btn btn-info">Slightly Warm</button>
<button type="button" class="btn btn-success">I am OK!</button>
<button type="button" class="btn btn-warning">Slightly Cool</button>
<button type="button" class="btn btn-primary">Cool</button>
<button type="button" class="btn btn-dark">Cold</button>
  </form> -->
</div>
</body>

</html>
